/* .footer {
  min-height: 100px;
  background: #e5e5e5;
  position: relative;
  top: 1000;
} */

.footer span {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgb(31, 138, 187);
  color: white;
  z-index: 5;
}
