.navbar {
  margin-top: 0px;
  overflow: hidden;
  background-color: rgb(31, 138, 187);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  font-size: 26px;
  font-family: sans-serif;
  z-index: 5;
}

.navlogo {
  width: 200px;
}

.fa.fa-navicon {
  color: white;
}

/* .navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
} */

/* .click {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 900;
  text-align: center;
} */

/* .scores,
.title {
  color: white;
} */

/* title {
  color: white;
} */

/* .custom-toggler.navbar-toggler {
  border-color: rgb(255, 102, 203);
} */
